# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

*.iml

.idea/
swingx-action/swingx-action.iml
swingx-action/target/
swingx-all/swingx-all.iml
swingx-all/target/
swingx-autocomplete/swingx-autocomplete.iml
swingx-autocomplete/target/
swingx-beaninfo/swingx-beaninfo.iml
swingx-beaninfo/target/
swingx-common/swingx-common.iml
swingx-common/target/
swingx-core/swingx-core.iml
swingx-core/target/
swingx-demos/swingx-demos-swingxset/target/
swingx-demos/target/
swingx-graphics/swingx-graphics.iml
swingx-graphics/target/
swingx-mavensupport/swingx-mavensupport.iml
swingx-mavensupport/target/
swingx-painters/swingx-painters.iml
swingx-painters/target/
swingx-plaf/swingx-plaf.iml
swingx-plaf/target/
swingx-testsupport/swingx-testsupport.iml
swingx-testsupport/target/
